@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root{
    --mainBackground: rgb(9, 9, 9);
    --dayAccentColor: #dc8f4c;
    --dayBackground: #F1D2B7;
    --nightAccentColor: rgb(20, 17, 35);
    --nightGradient: linear-gradient(rgb(88, 85, 133), #8c5656);

}
*{
    margin: 0;
    padding: 0;
    transition: background-color .3s, width.3s, height .3s;
    
} 

body{
    color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand';
    background-color: var(--mainBackground);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.card {
    margin: 1rem;
    background-color: var(--dayAccentColor);
    box-shadow: 5px 10px 8px #000000;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    animation: fadeIn 3s ease-in;
}

.searchBar{
    padding: 1rem;
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.searchBox{
    color: #000000;
    margin: 0%;
    padding: .7rem;
    border-radius: 50px;
    border-style: none;
    width: 100%;
    opacity: .5;
    transition: all .5s;
}

.searchBox:hover{
    opacity: 1;
}

.searchButton{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    border-style: none;
    padding: .2rem;
    border-radius: 50px;
    opacity: .5;
    transition: all .5s;
}

.searchButton svg{
    fill: var(--dayAccentColor);
}

.searchButton:hover{
    opacity: 1;
    scale: 1.1;
}

.weatherData{
    height: fit-content;
    padding: 2rem;
    background: var(--dayBackground); 
    transition: all .5s;   
}

.weatherData h3{
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
}


.weatherIcon{
    mask-position: center;
    mask-size: contain;
    height: 150px;
    mask-repeat: no-repeat;
    background-color: var(--dayAccentColor);
}

.weatherDetails{
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin-block: 1rem;
}

.weatherDetailsRows{
    width: fit-content;
    height: fit-content;
}

.weatherDetailsRows .detailRow{
    margin-block: 5px;
    display: flex;
    flex-direction: row;
    height: min-content;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.weatherDetailsRows .detailRow h5{
    width: fit-content;
    margin-left: .5rem;
}

.fadeIn{
    animation: fadeIn 3s;
}

.fadeOut{
    animation: fadeOut 3s;
}


@keyframes fadeIn {
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    20%{
        transform: translateY(15%);
        opacity: 0;
    }
    70%{
        opacity: .7;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        transform: translateY(-20%);
        opacity: 1;
    }
    20%{
        opacity: .7;
    }
    70%{
        opacity: .0;
    }
    100%{
        transform: translateY(0%);
    }
}