.toDoListApp{
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.alert{
    max-height: 0%;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    backdrop-filter: blur(3px);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.alertMessage{
    padding: 1rem;
    padding-bottom: 0%;
}
.alertContent{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: orange;
}
.alertOptions{
    justify-content: right;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: .5rem;
}

/*=========LOGIN VIEW==========*/
.login{
    overflow: hidden;
    max-height: 100%;
    transition: all .5s ease-in-out;
    margin-inline: 1rem;
    width: fit-content;
}

.login .row{
    display: flex;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem;
}
.loginTitle{
    margin-inline: 2rem;

}

.profiles{
    width: fit-content;
    height: fit-content;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}

.profile{
    border-style: solid;
    border-color: transparent;
    color: transparent;
    min-width: 100px;
    height: 100px;
    border-radius: 80px;
    text-align: center;
    align-content: center;
    transition: .2s;
    background-size: 110px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(../assets/avatars/1.png);
}

.profile h3{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.437);
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: center;
    align-content: center;
    transition: .3s;
    backdrop-filter: blur(1px);
}

.profile:hover{
    color: white;
    border-color: orange;
    scale: .9;
}
.profile:hover h3{
    opacity: 1;
}

.newProfile{
    cursor: pointer;
    border-style: solid;
    border-color: transparent;
    background-color: orange;
    color: white;
    min-width: 100px;
    height: 100px;
    border-radius: 80px;
    text-align: center;
    align-content: center;
    transition: .2s;
}
.newProfile:hover{
    scale: .9;
    border-color: orange;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

@media(max-width:800px){
    .login{
        margin: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .login .row{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .profiles{
        width: 100%;
        display: block;
    }

    .profile{
        border-color: rgb(9, 9, 9);
        display: inline-block;
        margin: .5rem;
        max-width: 100px;
        max-height: 100px;
        justify-items: center;
    }

    .profile h3{
        opacity: 1;
        background-color: transparent;
        background-image: linear-gradient(transparent,transparent,rgba(0, 0, 0, 0.69));
        color: white;
        padding-bottom: 1rem;
        max-width: 100px;
        max-height: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        box-sizing: border-box;
        backdrop-filter: none;
    }
    .newProfile{
        border-color: rgb(255, 255, 255);
        margin-top: 1rem;
    }
}

/*===============NEW USER VIEW==============*/
/*.newUserView{
    background-color: violet;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    margin: 5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
    
}*/
.newUserView{
    overflow: hidden;
    max-width: 1000px;
    max-height: 0%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
   }

.newUserViewTitle{
    width: 100%;
    margin: 1rem;
    text-align: left;
}

.avatars{
    width: fit-content;
    display: block;
}
.avatar{
    margin: .5rem;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: gray;
    background-size: cover;
    border-radius: 10px;
    transition: .3s;
    background-image: url(../assets/avatars/3.png);
}
.avatar:hover{
    scale: 1.1;
}
.selected{
    border-style: solid;
    border-color: orange;
    scale:1.1;
}
.selected:hover{
    scale: 1;
    border-color: orangered;
}

.newUserNickname{
    margin-top: 2rem;
    padding: .5rem;
    border-radius: 60px;
    border-style: none;
    text-align: center;
}
.mainButton{
    cursor: pointer;
    padding: .5rem;
    border-radius: 60px;
    border-style: none;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    transition: all .3s;
}
.mainButton svg{
    fill: white;
}
.mainButton:hover{
    background-color: orangered;
    scale: .95;
}
@media(max-width:800px){
    .newUserViewTitle{
        width: fit-content;
    }
    
    .newUserView{
        margin: 1rem;
        max-width: 98vw;
        
    }
    .avatars{
        gap: 1rem;
        width: fit-content;
    }
}

.userTasksNavBar{
    position: relative;
    background-color: orange;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.621);
    z-index: 4;
}
.userTasks{
    height: 100vh;
    max-height: 0%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    margin-inline: 8rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all .3s;
}
.userTasks .content{
    position: relative;
    background-color: purple;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    z-index: 3;
}

.taskLists{
    background-color: rgb(38, 35, 35);
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 300px;
    height: 100%;
    transition: all .3s;
    z-index: 3;
    box-shadow: 0px 0px 20px black;
    overflow-y: scroll;
    overflow-x: hidden;
}
.taskListDetails{
    background-color: rgb(24, 22, 22);;
    z-index: 2;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "actions"
    "tasks";
    flex-direction: column;
    flex: 1;
    
}
.taskListDetails .actions{
    overflow: hidden;
    position: relative;
    grid-area: actions;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    height: min-content;
    padding-top: 1rem;
    transition: all .3s;
}

.tasks{
    position: absolute;
    grid-area: tasks;
    min-height: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 4rem;
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.task{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.task input{
    cursor: pointer;
    margin-top: .3rem;
    margin-right: .8rem;
    scale: 1.3;
}

.task input:checked ~ p{
    color: orangered;
    text-decoration: line-through;
}

.task p{
    width: auto;
    height: auto;
    margin-right: 1rem;
}
.selecteduser{
    padding: 1rem;
}
.currentUserData{
    overflow: hidden;
    display: flex;
    width: 300px;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    max-width: 400px;
    box-sizing: border-box;
    padding:1rem 2rem 1rem 1.5rem;
}
.taskListTitle{
    field-sizing: content;
    color: white;
    word-break: break-word;
    font-family: 'Quicksand';
    background-color: transparent;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border: 0px;
    border-bottom: 2px;
    border-color: transparent;
    border-style: solid;
    transition: all .3s;
    resize: none;
}
.taskListTitle:focus {
    background: transparent;
    border-color: black;
    outline: none;
  }
  
.taskListTitle::placeholder{
    color: rgba(255, 255, 255, 0.493);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.titleWrapper{
    width: 100%;
    padding-inline: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.currentUserData .actions{
    display: flex;
    flex-direction: row;
    gap: .3rem;
    bottom: 0;
    position: relative;
}
.currentUserName{
    max-width: 170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: .8rem;
    text-align: left;
}
.userName{
    max-width:120px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: transparent;
    font-size: 18px;
    color: white;
    transition: all .3s;
    margin-bottom: .3rem;
}
.userName::placeholder { /* Edge 12-18 */
    color: white;
    opacity: .5;
  }
.userName:focus {
    background: transparent;
    border-color: black;
    outline: none;
  }
.customButton{
    cursor: pointer;
    max-width: 23px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: white;
    background-color: black;
    border-style: none;
    padding: .25rem;
    border-radius: 100px;
    align-items: center;
    text-wrap: nowrap;
    transition: all .3s;
}


.customButton img{
    width: 15px;
    height: 15px;
    margin-right: .3rem;
}

.customButton:hover{
    max-width: 200px;
    width: fit-content;
    padding-right: .6rem;
    background-color: rgb(33, 33, 33);
}

.customButton.expanded{
    width: fit-content;
    max-width: fit-content;
    padding-right: .6rem;
}
.customButton.expanded:hover{
    max-width: fit-content;
}


.customButton.orange{
    background-color: rgb(218, 141, 0);
    color: white;
    padding-right: .5rem;
}
.customButton.orange:hover{
    background-color: orangered;
}

.taskListsMenu{
    cursor: pointer;
    height: 0px;
    width: 0px;
    margin-right: 0rem;
    background-image: url(../assets/hamburguerMenu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
}
.taskListsMenu:hover{
    scale: .9;
    opacity: 1;
}

.currentUser{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border-style: solid;
    border-color: transparent;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/avatars/2.png);
}
.currentUser:hover{
    border-color: orange;
}

#menuIsActive{
    display: none;
}

.taskList{
    cursor: pointer;
    margin-bottom:1rem;
    text-align: left;
    text-transform: capitalize;
    transition: all .3s;

}
.taskList:hover{
    font-weight: bold;
    transform: translateX(5px);
}
.taskList.selectedList{
    font-weight: bold;
    transform: translateX(5px);
}
@media(max-width: 1100px){
    .customButton.collapsed{
        max-width: 23px;
    }
    
    .customButton.expanded {
        width: fit-content;
        max-width: fit-content;
    }
    .topRow{
        display: flex;
        flex-direction: row;
        padding: 0%;
        margin: 0%;
        align-items: center;
    }
    .userTasks{
        margin-inline: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    .userTasksNavBar{
        height: fit-content;
        flex-direction: column;
    }
    .taskListsMenu{
        height: 30px;
        width: 30px;
        margin-left: 1rem;
        background-image: url(../assets/hamburguerMenu.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        float: left;
    }    

    .currentUserData{
        margin-inline: auto;
        align-self: stretch;
        flex: 1;
        height: inherit;
        width: 100%;
        justify-content: center;

    }
    .taskLists{
        position: absolute;
        width: 100%;
        height: 100%;
        left: -120%;
    }

    .taskListTitle{
        overflow-wrap: break-word;
        margin-bottom: 1rem;
        margin-inline: 1rem;
        max-height: 70px;
        overflow: scroll;
    }
    
    #menuIsActive:checked ~ .taskLists{
        left: 0;
    }
    .taskListDetails{
        grid-template-areas: 
        "tasks"   
        "actions";
        grid-template-rows: auto 50px;
    }
    .tasks{
        height: 100%;
        padding: 1.5rem;
        padding-bottom: 4rem;
    }
}
